{% extends 'base.html' %}

{% block title%}
    Dashboard
{% endblock %}

{% block content %}
    <div class="container_cards">
        <div class="card">
            <form action="{{ url_for('adicionar_no_carrinho') }}" method="POST">
                <img src="{{url_for('static', filename='imagens/airpod.png')}}" height="70px">
                <div class="card-content">
                    <h2>Air pods</h2>
                    <p>R$ 1.499,00</p>
                    <input type="hidden" name="nome_produto" value="Air pods">
                    <input type="hidden" name="preco_produto" value="1499.00">
                    <button type="submit">Adicionar ao carrinho <i class="fa-solid fa-cart-shopping"></i></button>
                </div>
            </form>
        </div>
        Passo 2: Adicionar 
        </div>

        <div class="card">
            <form action="{{ url_for('adicionar_no_carrinho') }}" method="POST">
                <img src="{{url_for('static', filename='imagens/airpod.png')}}" height="70px">
                <div class="card-content">
                    <h2>Air pods</h2>
                    <p>R$ 1.499,00</p>
                    <input type="hidden" name="nome_produto" value="Air pods">
                    <input type="hidden" name="preco_produto" value="1499.00">
                    <button type="submit">Adicionar ao carrinho <i class="fa-solid fa-cart-shopping"></i></button>
                </div>
            </form>
        </div>
        Passo 2: Adicionar 
        </div>

        <div class="card">
            <form action="{{ url_for('adicionar_no_carrinho') }}" method="POST">
                <img src="{{url_for('static', filename='imagens/airpod.png')}}" height="70px">
                <div class="card-content">
                    <h2>Air pods</h2>
                    <p>R$ 1.499,00</p>
                    <input type="hidden" name="nome_produto" value="Air pods">
                    <input type="hidden" name="preco_produto" value="1499.00">
                    <button type="submit">Adicionar ao carrinho <i class="fa-solid fa-cart-shopping"></i></button>
                </div>
            </form>
        </div>
        Passo 2: Adicionar 
        </div>

        <div class="card">
            <form action="{{ url_for('adicionar_no_carrinho') }}" method="POST">
                <img src="{{url_for('static', filename='imagens/airpod.png')}}" height="70px">
                <div class="card-content">
                    <h2>Air pods</h2>
                    <p>R$ 1.499,00</p>
                    <input type="hidden" name="nome_produto" value="Air pods">
                    <input type="hidden" name="preco_produto" value="1499.00">
                    <button type="submit">Adicionar ao carrinho <i class="fa-solid fa-cart-shopping"></i></button>
                </div>
            </form>
        </div>
        Passo 2: Adicionar 
        </div> 
        <div class="card">
            <form action="{{ url_for('adicionar_no_carrinho') }}" method="POST">
                <img src="{{url_for('static', filename='imagens/airpod.png')}}" height="70px">
                <div class="card-content">
                    <h2>Air pods</h2>
                    <p>R$ 1.499,00</p>
                    <input type="hidden" name="nome_produto" value="Air pods">
                    <input type="hidden" name="preco_produto" value="1499.00">
                    <button type="submit">Adicionar ao carrinho <i class="fa-solid fa-cart-shopping"></i></button>
                </div>
            </form>
        </div>
        Passo 2: Adicionar 
        </div>
        <div class="card">
            <form action="{{ url_for('adicionar_no_carrinho') }}" method="POST">
                <img src="{{url_for('static', filename='imagens/airpod.png')}}" height="70px">
                <div class="card-content">
                    <h2>Air pods</h2>
                    <p>R$ 1.499,00</p>
                    <input type="hidden" name="nome_produto" value="Air pods">
                    <input type="hidden" name="preco_produto" value="1499.00">
                    <button type="submit">Adicionar ao carrinho <i class="fa-solid fa-cart-shopping"></i></button>
                </div>
            </form>
        </div>
        Passo 2: Adicionar 
        </div>
        

    </div>
{% endblock %}

