{% extends 'base.html' %}

{% block title %}
    Carrinho de Compras
{% endblock %}

{% block content %}
    <div class="carrinho-container">
        <h1>Meu Carrinho de Compras</h1>

        {% if produtos %}
            <table>
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                        <tr>
                            <td>{{ produto.nome_produto }}</td>
                            <td>R$ {{ "%.2f"|format(produto.preco) }}</td>
                            <td>
                                <form action="{{ url_for('remover_do_carrinho', produto_id=produto.id) }}" method="POST" style="display:inline;">
                                <button type="submit" style="background:none; border:none; color:white; cursor:pointer;">✖</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <div class="total">
                <p>Total: <strong>R$ {{ "%.2f"|format(total) }}</strong></p>
            </div>
            
        {% else %}
            <p>Seu carrinho está vazio.</p>
        {% endif %}
    </div>

    <div class="botoes-carrinho">
        <a href="{{ url_for('dashboard') }}">Continuar Comprando</a>
    </div>

{% endblock %}
