{% extends 'base.html' %}

{% block title %}
    Carrinho de Compras
{% endblock %}

{% block content %}
    <div class="carrinho-container">
        <h1>Meu Carrinho de Compras</h1>

        {% if produtos %}
            <table>
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                        <tr>
                            <td>{{ produto.nome_produto }} ({{ produto.quantidade }}x)</td>
                            <td>R$ {{ "%.2f"|format(produto.preco_total) }}</td>
                            <td>
                                <form action="{{ url_for('atualizar_quantidade', nome_produto=produto.nome_produto) }}" method="POST" style="display:inline;">
                                    <input type="number" name="quantidade" value="{{ produto.quantidade }}" min="1" style="width:60px;">
                                    <button type="submit">Atualizar</button>
                                </form>
                            </td>
                            <td>
                                <form action="{{ url_for('remover_uma_unidade', nome_produto=produto.nome_produto) }}" method="POST" style="display:inline;">
                                    <button type="submit" style="background:none; border:none; color:white; cursor:pointer;">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
            
            <div class="total">
                <p>Total: <strong>R$ {{ "%.2f"|format(total) }}</strong></p>
            </div>
            
        {% else %}
            <p>Seu carrinho está vazio.</p>
        {% endif %}
    </div>

    <div class="botoes-carrinho">
        <a href="{{ url_for('dashboard') }}">Continuar Comprando</a>
    </div>
    


{% endblock %}
